@use "./colors.module.scss" as c;
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
	background-color: c.$bg-color;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 1.4rem;
	margin-left: 0.5rem;
	@media (min-width: 768px) {
		font-size: 4.3rem;
	}
	@media (min-width: 800px) {
		font-size: 4.6rem;
	}
}
h2 {
	font-size: 27px;
	@media (min-width: 768px) {
		font-size: 1.9rem;
	}
	@media (min-width: 800px) {
		font-size: 2.5rem;
	}
}
