@use "../styles/colors.module.scss";

.mainContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	margin-top: 1.5rem;
	gap: 2rem;

	.singleCard {
		display: flex;
		flex-direction: column;
		background-color: var(--white);
		box-shadow: 0px 1px 15px -9px rgba(0, 0, 0, 0.2);
		padding: 1rem;
		gap: 0.7rem;
		border-radius: 20px;
		width: 100%;
		.cardImage {
			width: 100%;
			height: 100%;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.productDescriptions {
			padding: 2.5rem;
			.title {
				font-size: 2.3rem;
				line-height: 1.1;
				font-weight: 700;
				color: var(--black);
			}
			.price {
				display: flex;
				align-items: center;
				gap: 20px;
				font-weight: 500;
				font-size: 1.1rem;
				color: var(--black);
				.addTocart {
					background-color: var(--black);
					padding: 0.4rem 0.6rem;
					border-radius: 7px;
					cursor: pointer;
					position: relative;
					&:active {
						transform: scale(1.07);
					}

					.icon2 {
						color: var(--white);
					}
					.before {
						position: absolute;
						top: -8px;
						right: -7px;
						width: 20px;
						height: 20px;
						background-color: var(--purple);
						color: white;
						text-align: center;
						display: grid;
						place-content: center;
						border-radius: 100%;
						font-size: 13px;
						font-weight: 500;
						box-shadow: 0px 2px 15px 3px rgba(35, 32, 184, 0.3);
						user-select: none;
					}
				}
			}
			.subtitle {
				font-weight: 400;
				color: var(--grey);
				font-size: 0.9rem;
				margin-block: 0.5rem;
				font-weight: 400;
			}
		}
		@media (min-width: 600px) {
			flex-direction: row;
			align-items: center;
			.productDescriptions {
				padding: 2.5rem;
				.title {
					font-size: 3.2rem;
				}
				.subtitle {
					font-size: 1rem;
					margin-top: 1rem;
					margin-bottom: 1rem;
				}
			}
		}
		@media (min-width: 700px) {
			width: min(100% - 20px, 750px);
		}
	}

	.description {
		background-color: var(--white);
		box-shadow: 0px 1px 15px -9px rgba(0, 0, 0, 0.2);
		padding: 5px;
		padding: 1.3rem;
		border-radius: 20px;
		max-width: 500px;
		color: var(--black);
	}
}
